extends ../partials/base

block content
  br
  h1 Opret opgave
  form(method='POST', action='/task/add')
    #form-group
      label Title:
      input.form-control(name='title', type='text')
    #form-group
      label Opgave:
      input.form-control(name='content', type='text')
    #form-group
      label Points: (max 50)
      input.form-control(name='points', type='number')    
    br
    input.btn.btn-primary(type='submit', value='Opret!')
  br
  a(href='/task') Tilbage
