extends ../partials/base

block content

  br
  h1 Nye Opgaver
  br
  if tasks.length > 0
    ul.list-group
      each task, i in tasks
        if !task.done && !task.active
          a.list-group-item.list-group-item-action(href='/task/'+task._id)= task.title
  else
    p.text-muted Der er ingen nye opgaver, det' for dårligt
  br
  h1 Mine opgaver
  br
  if userTasks.length > 0
    ul.list-group
      each task, i in userTasks
        if !task.aCon && task.active
          a.list-group-item.list-group-item-action(href='/task/'+task.id)= task.title
    br
    ul.list-group
      h4.text-primary Disse opgaver afventer godkendelse
      each task, i in userTasks
        if task.aCon
          a.list-group-item.list-group-item-action(href='/task/'+task.id) #{task.title} 
      
  
  else
    p.text-muted Du har ingen aktive opgaver
  br
  a.btn.btn-primary(href='/task/') 
    i.fa.fa-refresh(aria-hidden="true")  Opdater
  br
  br
  .card
    .card-body
      h5.card-title= user.username
      p.text-muted Point: #{user.points}
      p.text-muted Opgaver gennemført: #{user.tasksCompleted}
      a.btn.btn-danger(href='/user/logout') Log ud
