extends ../partials/base

block content
  h1 Opret Bruger
  form(method='POST', action='/user/register')
    #form-group
      label Username:
      input.form-control(name='username', type='text')
    #form-group
      label Password:
      input.form-control(name='password', type='password')
    #form-group
      label Confirm password:
      input.form-control(name='password2', type='password')
    br
    input.btn.btn-primary(type='submit', value='Opret!')
