extends ../partials/base

block content
  br
  h1 Login
  form(method='POST', action='/user/login')
   #form-group
     label Brugernavn:
     input.form-control(name='username', type='text')
   #form-group
     label Password:
     input.form-control(name='password', type='password')
   br
   input.btn.btn-success(type='submit', value='Login')
   a.btn.btn-primary(href='/user/register') Opret bruger
