extends ../partials/base

block content
  br
  h1 Opgaver
  br
  ul.list-group
    if tasks.length > 0
      each task, i in tasks
        if !task.done
          li.list-group-item
            p= task.title
            if task.aCon
              form(method='POST', action='/task/list/'+task.id)
                input.btn.btn-success(type='submit', value='Godkend')
                a.btn.btn-danger.delete-task(href='#', data-id=task._id) Slet
            else
              a.btn.btn-danger.delete-task(href='#', data-id=task._id) Slet
    else
      p.text-muted Der er ingen opgaver, måske skulle du oprette nogle?
    
  br
  a(data-toggle="collapse" href="#done-tasks" role='button' aria-expanded="false" aria-controls="done-tasks") 
    h3.btn.btn-info Færdiggjorte opgaver
  br
  div(id='done-tasks' class='collapse')
    ul.list-group
      if tasks.length > 0
        each task, i in tasks
          if task.done
            li.list-group-item
              p= task.title
              p.text-muted Gennemført af #{task.doneByUsername}
            
  br
  a.btn.btn-primary(href='/task/add') Opret opgave
  a.btn.btn-danger(href='/user/logout') Log ud
