extends ../partials/base

block content
  br
  h1= task.title
  br
  .card.card-body.bg-light
    h4 Opgave:
    p= task.content
    h4 Point:
    p= task.points
  br
  if task.aCon
    p.text-muted Denne opgave afventer godkendelse
    a.btn.btn-primary(href='/task/') Tilbage
  else if task.active
    form(method='POST', action='/task/'+task.id+'/finish/')
      input.btn.btn-success(type='submit', value='Afslut!')
      a.btn.btn-primary(href='/task/') Tilbage
  else if !task.done
    form(method='POST', action='/task/'+task.id)
      input.btn.btn-success(type='submit', value='Tag opgave')
      a.btn.btn-primary(href='/task/') Tilbage

    
